<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Landingpage</title>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var temperature  = '{{temperature}}';
        var humidity  = '{{humidity}}';
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart_temp);
        <!--Luftfeuchte-->
        google.charts.load('current', {'packages':['gauge']});
        google.charts.setOnLoadCallback(drawChart_luft);
        <!--Lautstärke-->
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart_laut);
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        // Create the data table.
        function drawChart_temp() {
            var data = google.visualization.arrayToDataTable([
                ["Zeit", "Celsius", { role: "style" } ],
                ["15.00 h", 18.94, "blue"],
                ["16.00 h", 19.49, "lightblue"],
                ["17.00 h", 19.30, "blue"],
                ["18.00 h", temperature , "lightblue"]
            ]);
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                { calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation" },
                2]);
            var options = {
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("chart_temp"));
            chart.draw(view, options);
        }
        function drawChart_luft() {
            
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['%', parseFloat(humidity)]
            ]);
            var options = {
                width: 400, height: 400,
                greenFrom:40, greenTo:60,
                redFrom: 80, redTo: 100,
                yellowFrom:60, yellowTo: 80,
                minorTicks: 6
            };
            var chart = new google.visualization.Gauge(document.getElementById('chart_luft'));
            chart.draw(data, options);
            
        }
        function drawChart_laut() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Zeit');
            data.addColumn('number', 'Laustärke in db');
            data.addRows([
                ["15.00 h",  77.00],
                ["16.00 h",  80.00],
                ["17.00 h",  68.00],
                ["18.00 h",  57.00],
                ["19.00 h",  40.00]
            ]);
            var options = {
                width: 600,
                height: 400
            };
            var chart = new google.charts.Line(document.getElementById('chart_laut'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <style>
        h2{
            font-family: Arial;
        }
        table{
            background-color: #CEF6E3;
            padding: 40px;
            height:100%;
            width: 100%;
        }
        td{
            width: 20%;
        }
        #kachel{
            position: center;
            background-color: white;
            border: 3px solid #000;
            height: 20%;
            width: 40%;
        }
        #titel{
            text-align: center;
            color:black;
            width:40%;
        }
    </style>
</head>
<body>
<table>

    <tr>
        <td id="kachel">
            <div id="chart_temp"></div>
        </td>


        <td>
        </td>

        <td id="kachel">
            <div id="chart_luft"></div>
        </td>
    </tr>

    <tr>
        <td id="titel">
            <h2>Temperatur</h2>
	    <h3> {{temperature}}</h3>
        </td>


        <td>
        </td>

        <td id="titel">
            <h2>Luftfeuchtigkeit</h2>
            <h3> {{humidity}}</h3>
        </td>
    </tr>

    <tr>
    </tr>

    <tr>
    </tr>

    <tr>
        <td id="kachel">
            <div id="chart_co"></div>
        </td>


        <td>
        </td>

        <td id="kachel">
            <div id="chart_laut"></div>
        </td>
    </tr>

    <tr>
        <td id="titel">
            <h2>CO2</h2>
        </td>

        <td>
        </td>

        <td id="titel">
            <h2>Lautstärke</h2>
        </td>
    </tr>

</table>

</body>

</html>
